<div class="jumbotron-fluid shadow p-3">
    <h2 class="text-center">
        <button class="btn btn-light mt-2 mb-3 float-left" [routerLink]="['/movie']">Back</button>
        Show Movie Details
    </h2>
    <hr>
    <div class="m-5 text-center">
        <div class="col-md-12">
            <b>Nome: </b> {{movie?.nome}}
        </div>
        <div class="col-md-12">
            <b>Gênero: </b> {{movie?.genero}}
        </div>
        <div class="col-md-12">
            <b>Data de Lançamento: </b> {{movie?.dataLancamento | date: 'dd/MM/yyy'}}
        </div>
    </div>
</div>